.SlideShowWrapper {
  background-image: url("/images/slideshowbg.jpg");
  position: relative;
  padding: 60px 60px;
  padding-top: 30px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  
}

.CollaborationHeading {
  color: white;
  margin-bottom: 30px;
  text-align: center;
  font-size: 5vw;
}

.cover {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom:0%;
  background:linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
},