.SlideShowWrapper{
  background-color: blueviolet;
  padding: 60px 60px;
  padding-top: 30px;
  margin: 0 auto ;
}
.CollaborationHeading{
  color: white;
  margin-bottom: 30px;
  text-align: center;
}